.mealTracker {
    padding: 20px;
    border-radius: 10px;
    margin: 100px 100px 100px 100px; 
    border: lightblue solid;
}

.iconButton {
    background: none;
    border: none; 
    cursor: pointer;
}

.infoBox {
    display: inline-flex; 
    align-items: center;
    padding: 14px 14px; 
    border-radius: 10px;
    color: white; 
    font-weight: bold; 
    box-sizing: border-box; 
    margin: 0 5px;
}

.infoBox.kcal { background-color: #569BD5; } 
.infoBox.protein { background-color: #FFAB40; } 
.infoBox.fat { background-color: #99D9DE } 
.infoBox.fibers { background-color: #F29A8A; } 

.intakeRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #DEF6D8;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 5px;
    margin-left: -5px;
}


.intakeDescription {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem; 
    color: #333;
}

.intakeDetail {
    margin-bottom: 2px;
}

.intakeDetail:last-child {
    margin-bottom: 0; 
}

.infoBox {
    display: inline-flex;
    align-items: center;
    padding: 7px 14px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin-right: 10px; 
}

.infoBox.kcal { background-color: #569BD5; }
.infoBox.protein { background-color: #FFAB40; }
.infoBox.fat { background-color: #99D9DE; }
.infoBox.fibers { background-color: #F29A8A; }




.infoBoxContainer {
    padding: 5px;
    background-color: #DEF6D8;
}


.overskrift {
    display: flex;
    justify-content: left;
    justify-content: space-between;
    color: #616161;
    font-weight: bold;
}

body {
    font-family: 'Nunito', sans-serif;
}

input, select, button {
    padding: 10px;
}

.tilføjMåltidKnap {
    padding: 1.5px 10px;
    border: solid grey;
    border-radius: 50%; 
    background-color: #569bd5; 
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.tilføjVæskeKnap {
    padding: 1.5px 10px;
    border: solid grey;
    border-radius: 50%; 
    background-color: #91C789;
    color: white;
    font-size: 30px;
    cursor: pointer;
    margin-bottom: 30px;
}

.tilføjIngrediensKnap {
    padding: 1.5px 10px;
    border: solid grey;
    border-radius: 50%; 
    background-color: rgb(255, 196, 0); 
    color: white;
    font-size: 30px;
    cursor: pointer;
}

