.profile-container {
  background: #fff;
  margin: 50px auto;
  padding: 20px;
  width: 50%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 8px 8px 10px rgba(0,0,0,0.1);
}

.profile-container h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

input {
  width: 96%;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
select {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  font-size: 16px;
  background-color: #91C789;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

button.danger {
  background-color: #ff4d4d;
}

button:hover {
    background-color: #7da673;
}

button.danger:hover {
    background-color: #e33e3e;
}

label {
  font-size: 16px;
  color: #616161;
  display: block;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .profile-container {
    width: 90%;
  }
}
